<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
            <h1 class="text-center">Admin Dashboard</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item">
                 <a href="/category/add" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Add Category
                 </a></li>
                <li class="tm-nav-item"><a href="/category/list" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Category List
                </a></li>
                <li class="tm-nav-item"><a href="/product/save" class="tm-nav-link">
                    <i class="fas fa-users"></i>
                    Add Product
                </a></li>
                <li class="tm-nav-item"><a href="/product/list" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Product List
                </a></li>
                <li class="tm-nav-item"><a href="/admin/logout" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Logout
                </a></li>
            </ul>
        </nav>
        
    </div>
</header>