<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
    <%- include('_bootstrap.ejs')%>
</head>
<body>
    
	<%- include('_header.ejs')%>
    <div class="container-fluid">
        <main class="tm-main">
              
          <form action="/category/update" method="post">
            <div class="form-group">
              <input type="hidden" name="_id" value="<%=category._id%>"/>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input value="<%=category.categoryName%>" type="text" name="categoryName" class="form-control" placeholder="Category Name"/>
                </div>
                <div class="col-lg-3 col-md-3">
                  <button class="btn btn-outline-success" type="submit">Update</button>
                </div>
              </div>
            </div>
          </form>
        </main>    
    </div>
    <script>
        function removeAlert(){
          var alertMessage = document.getElementById('alert-message');
          alertMessage.remove();
        }
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>