<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Dashboard</title>
    <%- include('_bootstrap.ejs')%>
</head>
<body>
	<%- include('_header.ejs')%>
    <div class="container-fluid">
        <main class="tm-main">
        </main>    
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>