<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Dashboard</title>
    <%- include('_bootstrap.ejs')%>
</head>
<body>
	<%- include('_user-header.ejs')%>
    <div class="container">
        <main class="tm-main">
            <h1 class="text-danger">Bad Request....</h1>
        </main>    
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>